{
  "pid": "com.tibco.bw.stat.appnode.1ce7c0b0-8650-4ae8-b59a-29406f1029bf",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.1ce7c0b0-8650-4ae8-b59a-29406f1029bf",
      "type": "java.lang.String"
    }
  }
}