{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.f4c91044-2563-4772-8c57-1e409faf3064",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.9eb8d00f-5509-42bd-9f30-a9813ad6375c",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}