{
  "pid": "bw.application.Publisher.application_1.0",
  "properties": {
    ".type.\/\/Publisher\/\/FTL_APPLICATION_NAME": {
      "name": ".type.\/\/Publisher\/\/FTL_APPLICATION_NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/Publisher\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/FTL_CLIENT_LABEL": {
      "name": ".type.\/\/Publisher\/\/FTL_CLIENT_LABEL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/FTL_REALM_SERVER_URL": {
      "name": ".type.\/\/Publisher\/\/FTL_REALM_SERVER_URL",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/FTL_ENDPOINT": {
      "name": ".type.\/\/Publisher\/\/FTL_ENDPOINT",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/FTL_CLIENT_LABEL": {
      "name": "\/\/Publisher\/\/FTL_CLIENT_LABEL",
      "value": "Publisher",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/FTL_APPLICATION_NAME": {
      "name": "\/\/Publisher\/\/FTL_APPLICATION_NAME",
      "value": "PNP",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.APPNODE.NAME": {
      "name": "\/\/Publisher\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "Publisher.application",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.MODULE.VERSION": {
      "name": "\/\/Publisher\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/FTL_ENDPOINT": {
      "name": "\/\/Publisher\/\/FTL_ENDPOINT",
      "value": "EP_ESB_PNP_Listen",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.CLOUD.PORT": {
      "name": ".type.\/\/Publisher\/\/BW.CLOUD.PORT",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}int",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "Publisher.application",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/FTL_REALM_SERVER_URL": {
      "name": "\/\/Publisher\/\/FTL_REALM_SERVER_URL",
      "value": "http:\/\/localhost:8080",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.MODULE.NAME": {
      "name": "\/\/Publisher\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/Publisher\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/Publisher\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/Publisher\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.CLOUD.PORT": {
      "name": "\/\/Publisher\/\/BW.CLOUD.PORT",
      "value": "8081",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.Publisher.application_1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/Publisher\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.HOST.NAME": {
      "name": ".type.\/\/Publisher\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/Publisher\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/Publisher\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/Publisher\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/Publisher\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/Publisher\/\/BW.HOST.NAME": {
      "name": "\/\/Publisher\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    }
  }
}