{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.62774cbe-b476-4059-85e5-217d9cbdad86",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}