{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.f11337f7-f17d-441a-98d1-2aa62a088aea",
  "properties": {
    ".name": {
      "name": ".name",
      "value": "publisher.FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "Publisher.application",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "Publisher",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    ".type.realmServerURL": {
      "name": ".type.realmServerURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 307,
      "type": "java.lang.Long"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "applicationName": {
      "name": "applicationName",
      "value": "FTL_APPLICATION_NAME",
      "type": "java.lang.String"
    },
    "secondaryRealmServerURL": {
      "name": "secondaryRealmServerURL",
      "value": "FTL_REALM_SERVER_URL",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    ".type.clientLabel": {
      "name": ".type.clientLabel",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".mprefs": {
      "name": ".mprefs",
      "value": [
        {
          "value": "realmServerURL",
          "type": "java.lang.String"
        },
        {
          "value": "secondaryRealmServerURL",
          "type": "java.lang.String"
        },
        {
          "value": "applicationName",
          "type": "java.lang.String"
        },
        {
          "value": "clientLabel",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "realmServerURL": {
      "name": "realmServerURL",
      "value": "FTL_REALM_SERVER_URL",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.f11337f7-f17d-441a-98d1-2aa62a088aea",
      "type": "java.lang.String"
    },
    ".type.applicationInstanceIdentifier": {
      "name": ".type.applicationInstanceIdentifier",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".type.secondaryRealmServerURL": {
      "name": ".type.secondaryRealmServerURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "clientLabel": {
      "name": "clientLabel",
      "value": "FTL_CLIENT_LABEL",
      "type": "java.lang.String"
    },
    ".type.applicationName": {
      "name": ".type.applicationName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    "applicationInstanceIdentifier": {
      "name": "applicationInstanceIdentifier",
      "value": "",
      "type": "java.lang.String"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}