{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.61b8b0e4-3d68-4ad6-92d4-f29bf4ead6b6",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}