{
  "pid": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/sharedresource\/ftl}FTLRealmServerConnection.f11337f7-f17d-441a-98d1-2aa62a088aea",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}