{
  "pid": "com.tibco.bw.stat.appnode.a7025847-6b5f-4d74-97e4-56937acf577a",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.a7025847-6b5f-4d74-97e4-56937acf577a",
      "type": "java.lang.String"
    }
  }
}