{
  "pid": "com.tibco.bw.stat.appnode.71fae96c-6467-451c-9ce3-556b489c642a",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.71fae96c-6467-451c-9ce3-556b489c642a",
      "type": "java.lang.String"
    }
  }
}