{
  "pid": "com.tibco.bw.stat.appnode.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "com.tibco.bw.stat.appnode.71fae96c-6467-451c-9ce3-556b489c642a",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}