<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/kafka/6.4//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/kafka/6.4//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/ftl/6.5//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/ftl/6.5//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/awsm/6.4//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/awsm/6.4//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/salesforce/6.9//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/salesforce/6.9//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/amazons3/6.4//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/amazons3/6.4//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/auth-lib/1.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/auth-lib/1.1//runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/aws-sdk/1.12//hotfix/runtime/plugins" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/palettes/aws-sdk/1.12//runtime/plugins" type="Directory"/>


<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/hotfix/lib/common" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/lib/common" type="Directory"/>

<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/hotfix/palettes" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/palettes" type="Directory"/>

<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/hotfix/shared" type="Directory"/>
<location path="/Users/joshuamoesa/Applications/tibco/bwce/bwce/2.5/system/shared" type="Profile"/>
</locations>
</target>
