{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.3f056a94-2982-48e0-9f0b-95d7919ebb57",
  "properties": {
    ".type.wsdlFilePath": {
      "name": ".type.wsdlFilePath",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "salesforcedemo.SalesforceConnection",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "SalesforceDemo.application",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "#!e2F5ax+2BjUbn3iYwC3Au2p+d5aj+7qeljeRbfnRegdEMC4Rpvprgw8nfVL+aAwWMPP9jZrKvt8G\/c7CQpF1lG9rlvpIz+MwwFzW7L8qJ\/Y=",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "SalesforceDemo",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "sslEnabled": {
      "name": "sslEnabled",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "serverURL": {
      "name": "serverURL",
      "value": "https:\/\/login.salesforce.com\/services\/Soap\/u\/47.0",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 172,
      "type": "java.lang.Long"
    },
    ".type.serverURL": {
      "name": ".type.serverURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.sslEnabled": {
      "name": ".type.sslEnabled",
      "value": "java.lang.Boolean",
      "type": "java.lang.String"
    },
    ".type.userName": {
      "name": ".type.userName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "wsdlFilePath": {
      "name": "wsdlFilePath",
      "value": "\/SalesforceResources\/partner_47_0.wsdl",
      "type": "java.lang.String"
    },
    ".type.sessionTimeout": {
      "name": ".type.sessionTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "userName": {
      "name": "userName",
      "value": "joshuamoesa@gmail.com",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.3f056a94-2982-48e0-9f0b-95d7919ebb57",
      "type": "java.lang.String"
    },
    "sessionTimeout": {
      "name": "sessionTimeout",
      "value": 120,
      "type": "java.lang.Integer"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}