{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.3f056a94-2982-48e0-9f0b-95d7919ebb57",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}